* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hwb(60 59% 2% / 0.699);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
}
p {
  margin-bottom: 20px;
}
.first {
  color: red;
}
#your-name {
  background-color: rgb(241, 243, 113);
  border: 5px solid #444444ec;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}
input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: blue;
}
#course-image {
  width: 300px;
}
#your-name h2 {
  color: olivedrab;
}
